/common/data/configs/plex/
/common/data/movies/
/common/data/watch/
/common/data/configs/transmission/resume/
/common/data/configs/transmission/torrents/
/common/data/configs/transmission/blocklists/
/transmission/
/plex/
*.mkv


